.color{
  // background-color: red !important;
  background-color: #fff !important;
  height: auto;
  // position: fixed;
}
nav{
  img{
    width: 200px;
  }
  a{
    cursor: pointer;
    text-decoration: none;
    color: #013F5B;
    font-size: 18px;
    font-family: 'montserrat';
    font-weight: 500;
  }

  .navItem{
    color: #013F5B;
    font-weight: 500;
    position: relative;
  }

  .navItem::after{
    content: '';
    margin-bottom: -10px;
    background-color: #013F5B ;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2.5px;
  }

  .mat-icon{
    color: #013F5B;
    margin-right: 10px;
    cursor: pointer;
  }

}


