<nav class="navbar navbar-light bg-light justify-content-between color">

  <div class="container">
    <img src="/assets/navBar/blueLogo.png" alt="Logo">

    <form class="form-inline">

        <a *ngFor="let Menu of menu; let i = index"
        class="m-2 navItem"
        [class.navItem]="itemSelected===i"
        (click)="itemSelectedMenu(i)"
        (mouseenter)="showBox(i);itemSelectedMenu(i)">
          {{Menu.item}}
        </a>

    </form>


    <div class="div">
      <mat-icon>search</mat-icon>
      <mat-icon>shopping_cart</mat-icon>
    </div>

  </div>

</nav>

<div class="container" style="position: fixed" >

  <div class="d-flex justify-content-center">
    <app-menu-box
        [keyBox]="keyBox"
        [menu]="movidOption"
        (toolTipKey)="valueReceived($event)">
    </app-menu-box>

  </div>

</div>




